.env
__pycache__/
*.pyc
.venv/
excavator_payload.zip
research_payload.zip

# Ignore everything in excavator folder (Lambda dependencies)
excavator/*
!excavator/lambda_function.py

# Ignore everything in research folder (Lambda dependencies)
research/*
!research/lambda_function.py
!research/requirements.txt
